/* --- CONFIGURACIÓN GENERAL --- */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif; /* Se aplica al nombre, menú y texto dinámico */
    scroll-behavior: smooth;
}


/* MENUS */
.menu-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    background-color: #0d1225; /* ¡Aquí está tu color fijo desde el principio! */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Le dejamos la sombra para que se separe del fondo */
}

/* Esta clase se añadirá automáticamente con JavaScript al empezar a bajar */
.menu-superior.scrolled {
    background-color: #1e3c72; /* Usamos el azul oscuro para el fondo del menú al hacer scroll */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Un poco de sombra para separarlo del contenido */
}

.menu-superior a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease; 
}

/* Sombreado al pasar por encima Y resaltado de la sección activa */
.menu-superior a:hover,
.menu-superior a.activo { 
    background-color: rgba(255, 255, 255, 0.2); 
    color: white !important; 
}


/* Nuevo h1 */
h1 {
    margin: 0;
    font-family: 'Jost', sans-serif; /* Forzamos la fuente por si acaso no la estaba heredando */
    font-size: 2.8rem;
    font-weight: 400; /* Le bajamos el grosor (de 700 a 400) para que no se vea tan ancha */
    letter-spacing: 1px;
}

/* --- PORTADA CENTRADA --- */
.portada {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url('fondo4.jpg');
    background-size: cover; /* Hace que la imagen ocupe toda la pantalla sin deformarse */
    background-position: center; /* Centra la imagen */
    
    color: white;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 1.4rem;
    margin-top: 10px;
    color: #e0e0e0;
    font-weight: 400;
}

/* --- SECCIONES INFERIORES --- */
.seccion {
    padding: 80px 40px;
    min-height: 50vh;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.seccion h2 {
    font-size: 2rem;
    color: #1e3c72;
    margin-bottom: 20px;
}

.seccion p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
